// main: flexscape.scss

.title-1{font-size: 60px; margin-bottom: $margin-bottom-title-1;}
.title-2{font-size: 48px; margin-bottom: $margin-bottom-title-2;}
.title-3{font-size: 30px; margin-bottom: $margin-bottom-title-3;}
.subtitle{font-size: 20px; margin-bottom: $margin-bottom-subtitle;}
.paragraph{font-size: 18px; margin-bottom: $margin-bottom-paragraph;}

.light{font-weight: 300;}
.bold{font-weight: 700;}

/* ! Generics */

.text-center{text-align: center;}

body {
  font-size: 16px;
  line-height: 1.6;
  font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

nav {
  ul{
    list-style-type: none;
    li{display: inline-block;}
  }
}


/* ! - blockquote */
blockquote{
    font-size: 1.2em;
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
  }
  blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  blockquote p {
    display: inline;
  }
