// main: flexscape.scss

/* ! - typography */
$margin-bottom-title-1: 10px;
$margin-bottom-title-2: 10px;
$margin-bottom-title-3: 10px;
$margin-bottom-subtitle: 10px;
$margin-bottom-paragraph: 10px;

/* ! - Media query */
$media-tablet: 991px;
$media-smartphone: 767px;
